@model RegistroCertificadoWebMVC.Models.CertificadoFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Certificado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Certificado.Id" />
            <div class="form-group">
                <label asp-for="Certificado.Descricao" class="control-label"></label>
                <input asp-for="Certificado.Descricao" class="form-control" />
                <span asp-validation-for="Certificado.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificado.HorasConclusao" class="control-label"></label>
                <input asp-for="Certificado.HorasConclusao" class="form-control" />
                <span asp-validation-for="Certificado.HorasConclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificado.InstituicaoId" class="control-label"></label>
                <select asp-for="Certificado.InstituicaoId" asp-items="@(new SelectList(Model.Instituicaos,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Certificado.AreaCertificado" class="control-label"></label>
                <select asp-for="Certificado.AreaCertificado" asp-items="@(new SelectList(Model.AreaCertificados,"Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
