@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-6">
        <div class="card mb-5 p-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Instituições</h5>
                <a asp-controller="Instituicaos" asp-action="Create" class="btn btn-primary">Ir para o Cadastro</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Listar Instituições</h5>
                <a asp-controller="Instituicaos" asp-action="Index" class="btn btn-primary">Ir para a Lista</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Certificados</h5>
                <a  asp-controller="Certificadoes" asp-action="Create" class="btn btn-primary">Ir para o Cadastro</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Listar Certificados</h5>
                <a asp-controller="Certificadoes" asp-action="Index" class="btn btn-primary">Ir para a Lista</a>
            </div>
        </div>
    </div>
   
</div>
